<footer class="bg">
  <ul class="nav">
    <li class="nav-item">
      <a href="#" class="nav-link footerFont"
        ><i class="fab fa-facebook-square"></i
      ></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link footerFont"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link footerFont"
        ><i class="fab fa-reddit-square"></i
      ></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link footerFont"><i class="fab fa-youtube"></i></a>
    </li>
  </ul>

  <a href="https://github.com/aliicebraga" class="footerAFont" target="blank">
    &copy; 2022 Developed by Alice Braga
  </a>
</footer>
