<div class="container homeContainer">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 leftColumn">
      <h2 class="homeMainTitle">2022 Formula 1 World Championship</h2>
      <img
        src="../../../../assets/icons/FIA_F1_Car_2022_1000_0001-removebg-preview.png"
        alt=""
      />
      <p class="paragraph">
        New year, new championship. Will what happened last year be forgotten?
        Lots of controversies in the last race, some would say the result was
        controversial. However, this year we also have a new regulation. A new
        car!!
      </p>
      <p class="paragraph">
        The possibility of grid order changes brings high hopes for an exciting
        competition.
      </p>

      <p class="paragraph">This season is sure to be UNFORGETTABLE!!!</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h3 class="text-center my-5">Know more</h3>
      <div class="container rightColumn">
        <div class="row row-cols-lg-2 row-cols-md-1 g-4">
          <div class="col">
            <div
              class="card h-100 d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/icons/ayrton.png"
                class="card-img-top"
                alt="..."
                style="width: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">Best of all?</h5>
                <p class="card-text">
                  By many considered the best of all time. Ayrton Senna...
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="../../../../assets/icons/spa.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Track favorite</h5>
                <p class="card-text">
                  SPA. The racers' favorite track. What to expect this year...
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="../../../../assets/icons/brazil.png"
                class="card-img-top mt-2"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">The most awaited</h5>
                <p class="card-text">
                  Controversies of the year 2021 about the most electrifying
                  race on the calendar...
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              class="card h-100 d-flex justify-content-center align-items-center"
            >
              <img
                src="../../../../assets/icons/drivers/4men.png"
                class="card-img-top align-self-center"
                alt="..."
                style="width: 240px"
              />
              <div class="card-body">
                <h5 class="card-title">They all have chances</h5>
                <p class="card-text">
                  Will the veterans have a chance this year?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
